* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crack";
}

span {
    font-family: "helvetica";
    font-size: 2.1875rem;
}

@font-face {
    font-family: "Crack";
    src: url("./font/Cream\ Cake.otf") format("opentype");
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    /*background-color: rgb(198, 252, 214);*/
    text-align: center;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo {
    margin: 2rem 0 1rem 0;
    height: 6.25rem;
}

.movermeio {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: cent;
    gap: 1.875rem;
}

.texto {
    margin-bottom: 30px;
    font-size: 48px;
    text-align: center;
    width: 858px;
    color: #023300;
}

.imgs {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.imgs img {
    height: 31.25rem;
    width: 22.75rem;
    transition: 0.3s;
    border-radius: 5%;
    cursor: pointer;
}

.imgs img:hover {
    border-radius: 7%;
    opacity: 0.9;
}

.txt {
    justify-content: center;
    display: flex;
    align-items: center;
}

.painel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem;
}

.painel img {
    transition: 0.3s;
    width: 100px;
    height: 100px;
}

.painel img:hover {
    background-color: aquamarine;
    border-radius: 20%;
}
 
.ig {
    width: 85px !important;
    height: 85px !important;
}